/*--------------------------------------
Generic Formatting Styles
--------------------------------------*/

* {
     box-sizing: border-box;
}

.sample-recall-messages {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background: #e0e0e0;
    //color: #fff;

    h2 {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    h3 {
        color: #043f5f;
        text-align: left;
    }
}

.vin-lookup-wrapper {
    //Setting Up Responsive Typography
    $vin_min_width: 320px;
    $vin_max_width: 1200px;
    $vin_min_font: 14px;
    $vin_max_font: 18px;

    @include fluid-type($vin_min_width, $vin_max_width, $vin_min_font, $vin_max_font);

}

.lookup-outer {
    max-width: 800px;
    width: 100%;
    padding: 0.9em;
    margin: 20px auto;
    border: 2px solid #ccc;
    color: #fff;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background: url(../images/widget-bg.png) repeat center center;
    position: relative;

    //Overlay
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background: rgba($vin-blue, 0.8);
    }


    h1 {
        margin-top: 0;
        font-size: 1.4em;
    }

    h2 {
        font-family: $sans-serif;
        color: $vin-blue-alt;
        font-weight: normal;
        font-size: 1.27em;
    }

    h3 {
        font-family: $sans-serif;
        color: $vin-blue-alt;
        font-weight: normal;
        font-size: 1.15em;
    }
}

.lookup-inner {
    z-index: 10;
    position: relative;
}

.demo-vin-numbers {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background: #333;
    color: #fff;

    h2 {
        margin-top: 0;
    }

}

/*--------------------------------------
General Widget Formatting
--------------------------------------*/

.lookup-title {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    font-family: $sans-serif-heading;

    img {
        display: block;
        margin-bottom: 10px;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

/*--------------------------------------
Form Styles
--------------------------------------*/

.lookup-form {

    display: block;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    border-top: 1px solid $vin-blue-alt;
    border-bottom: 1px solid $vin-blue-alt;
    margin-bottom: 1.1em;
    margin-top: 1.1em;
    font-family: $sans-serif;

    h2 {
        display: block;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
        line-height: 1;
    }

    input[type="text"]{
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border: 2px solid $vin-blue-alt;
        border-radius: 1px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        position: relative;
        display: block;
        margin: 10px auto;
        outline: none !important;
        padding-right: 50px;
        z-index: 5;
        font-family: $sans-serif;
        line-height: 1;
        color: #333;
        font-size: 1.1em;

        &.parsley-error {
            border-color: #f00;
        }

        &.parsley-success {
            border-color: green;
        }
    }

    .vin-number-input-wrapper {
        position: relative;
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        font-family: $fontawesome;

        &:before {
            content: '';
            position: absolute;
            right: 10px;
            top: 15px;
            font-size: 20px;
            font-family: $fontawesome;
            line-height: 1;
            display: block;
            z-index: 10;
            font-style: normal;
            font-variant: normal;
            font-weight: 900;
            text-rendering: auto;
        }

        &.parsley-error:before {
            color: #f00;
            content: '\f00d';
        }

        &.parsley-success:before {
            color: green;
            content: '\f00c';
        }
    }

    input[type="submit"], .vin-submit{
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border: 2px solid $vin-blue-alt;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        border-radius: 1px;
        margin: 10px auto;
        outline: none !important;
        display: block;
        color: #fff;
        text-align: center;
        font-weight: normal;
        background: $vin-blue;
        transition: all 0.2s;
        cursor: pointer;
        font-family: $sans-serif;
        font-size: 1.12em;

        &:hover {
            background: darken($vin-blue, 10%);
        }
    }

    //Parsley Styles
    .parsley-custom-error-message {
        display: none !important;
    }


} //End .lookup-form

/*--------------------------------------
Announcement Formatting
--------------------------------------*/

/*--------------------------------------
General Result Section Formatting
--------------------------------------*/

.lookup-results {

    h2 {
        text-align: center;
    }

    .car-information {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.1em;
        line-height: 1.2;
        font-weight: 300;
    }

    .car-recalls {
        text-align: center;
    }

} //End .lookup-results

/*--------------------------------------
Recall Result Formatting
--------------------------------------*/

//Wrapping Element
.car-recall-list {
    text-align: left;
}

.car-recall-list-title {
    text-align: left;
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.15em;
    line-height: 1.2;
    border-radius: .25em .25em 0 0;
    padding: 16px 1em;
    background: #c23d30;
    font-weight: bold;
    color: #fff;
    border-top: 1px solid #a7b9c3;
    border-left: 1px solid #a7b9c3;
    border-right: 1px solid #a7b9c3;
}

.car-recall-loading-spinner {
    text-align: center;
    color: #fff;
    font-size: 2em;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.car-recall-count {
    font-size: 24px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.car-recall-result {
    border-top: 1px solid #a7b9c3;
    border-left: 1px solid #a7b9c3;
    border-right: 1px solid #a7b9c3;
    overflow: hidden;

    &:nth-of-type(1){
        //border-radius: .25em .25em 0 0;
    }

    &:nth-last-of-type(1){
        border-bottom: 1px solid #ccc;
        border-radius: 0 0 .25em .25em;
    }
}

.car-recall-title {
    text-transform: capitalize;
    position: relative;
    padding: 10px 1em;
    background: #becad0;
    color: #043f5f;
    padding-right: 2.3em;
    font-size: 0.95em;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background: darken(#becad0, 10%);
    }

    i {
        display: block;
        color: #043f5f;
        position: absolute;
        top: 9px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }
}

.car-recall-content {
    display: none;
    text-transform:  uppercase;
    padding: 10px;
    background: #fff;
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #e0e0e0;

    &.visible {
        //display: block;
    }
}


/*--------------------------------------
Alert Styles
--------------------------------------*/

.standard-alert {
    padding: 1.1rem 1.25em;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25em;
    line-height: 1.5;
    font-family: $sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    //max-width: 400px;

    .alert-heading {
       display: block;
       font-weight: bold;
       margin-bottom: 10px;
       font-size: 1.15em;
       text-align: center;
    }

    .alert-content {
        font-size: 1em;
        line-height: 1.2;

        p {
            line-height: 1.2 !important; //To Override Theme Styles
            font-size: 1em;
        }
    }

} //End .standard-alert

.alert-green {

    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;

    .alert-heading {
       text-align: center;
    }

    .alert-content {
        text-align: center;
    }

} //End .alert-green

.alert-yellow {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;

    .alert-heading {
       text-align: center;
    }

    .alert-content {
        text-align: left;
    }
} //End .alert-yellow



/*--------------------------------------
Invisible ReCaptcha Styles
--------------------------------------*/

.grecaptcha-badge {
    display: none !important;
}
