/*--------------------------------------
Demo Specific Styles
--------------------------------------*/

body {
    background: #f0f0f0;
    margin: 2em;
    font-family: $sans-serif;
}

.vin-demo {
    max-width: 500px;
    width: 100%;
    margin: 1em auto 3em auto;
}


.vin-doc {
    max-width: 500px;
    width: 100%;
    margin: 1em auto;
}


.view-code {
    font-size: 1.25em;
    display: block;
    vertical-align: bottom;
    margin: 2em auto 0.5em;
    width: 100%;
    max-width: 400px;
   
   a {
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: $vin-blue;
        transition: 0.2s;
        display: block;
        text-align: center;

        &:hover {
            color: #8a6d3b;
        }
    }

    img {
        max-height: 20px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 3px;
    }
}

.portfolio-return {
    display: block;
    text-align: center;
    
    a {
        font-weight: normal;
        color: $vin-blue;
        transition: 0.2s;
        font-size: 0.9rem;
        text-decoration: none;

        &:hover {
            color: #8a6d3b;
        }
    }
}