/*--------------------------------------
SCSS Project Variables
--------------------------------------*/

//Font Stacks
$sans-serif:            'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-serif-heading:    'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontawesome:           'Font Awesome 5 Free';

//Colors
$vin-red:           #ec2f2f;
$vin-blue:          #043f5f;
$vin-blue-alt:      #a7b9c3;